html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border: 1px solid grey;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 2.8rem;
  color: #CF9540;
}
section {
  padding: 0 2%;
}
h3 {
  color: #193617;
  font-size: 2.4rem;
  border-bottom: thin solid #193617;
  margin: 1% 0;
  width: 30%;
}
header {
  width: 100%;
  height: 40px;
  background-color: #346F2F;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
header .headerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
}
header .headerNav .navLinks {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .headerNav .navLinks a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
}
.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(/images/fachy-marin-Wm7-Z1ZOi0Y-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero .itemOne {
  align-self: flex-start;
  padding-top: 1%;
}
.hero .itemTwo {
  align-self: flex-end;
  padding-bottom: 1%;
}
.hero div {
  width: 30%;
}
.hero h2 {
  color: #234B20;
  font-weight: bolder;
  font-size: 4rem;
  text-align: center;
}
.about {
  background-color: #E3C291;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 1%;
}
.about .aboutCTA {
  padding-right: 10%;
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about .aboutCTA p {
  padding: 1% 0;
}
.about .aboutText {
  width: 60%;
}
.about .aboutText p {
  font-size: 1.6rem;
  padding: 1% 0;
}
