footer{
    background-color: @secondaryColor;
    height: 40px;

   .flexin(row, space-between, center);

    p{
        margin-left: 2%;
        font-size: 1.6rem;
    }
    .footerNav{
        width: 40%;
        .flexin(row, space-around, center);
        a{
            color: white;
            font-size: 1.6rem;
            text-decoration: none;
            padding-left: 2%;
        }

    }
}


