.hero{
    width: 100vw;
    height: 100vh;
    // background-image: url(/images/fachy-marin-Wm7-Z1ZOi0Y-unsplash.jpg);
    // background-size: contain;
    .flexin(column, space-around, center);
    .itemOne{
        align-self: flex-start;
        padding-top: 1%;
    }
    .itemTwo{
        align-self: flex-end;
        padding-bottom: 1%;
    }

    div{
        width: 30%;
    }

    h2{
        color: #234B20;
        font-weight: bolder;
        font-size: 4rem;
        text-align: center;
    }

    background-image: url(/images/fachy-marin-Wm7-Z1ZOi0Y-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}