.plans{
    height: 20vh;
    .flexin(row, space-around, center);

    h2{
        font-weight: bolder;
        font-size: 3.6rem;
    }

    button.user{
        .button(@secondaryColor, 2.4rem);
    }

    button.creator{
        .button(@primaryColor, 2.4rem);
    }
}