.testimonialsSection{
    height: 10%;
    .testimonials{
        .flexin(row, space-between, center);
    

        .testimonial{
            .flexin(row, space-evenly, stretch);

            height: 100%;

            img{
                max-width: 90px;
                max-height: 90px;
                object-fit: cover;
                border-radius: 50%;
            }

            p{
                font-size: 1.6rem;
                font-style: italic;
                width: 80%;
                align-self: center;
                margin-left: 1%;

            }
        }
    }
}