.testimonialsSection{
    .testimonials{
        .flexin(row, space-between, center);

        .testimonial{
            .flexin(row, space-between, stretch);

            height: 90px;

            img{
                width: 90px;
                border-radius: 50%;
            }

            p{
                font-size: 1.6rem;
                font-style: italic;
                width: 80%;
                align-self: center;

            }
        }
    }
}