.topHowTos div {
    .flexin(row, space-between, stretch);

    .featured {
        .flexin(column, center, center);

        .starRating {
            i {
                height: 25px;
                width: 25px;
                color: #F7E32C;
            }
        }

        h5 {
            font-size: 2.4rem;
        }

        img{
            width: 96px;
            height: 77px;
            padding: 2% 0;

        }
    }


}